<nav class="navbar navbar-dark bg-dark flex-column p-3">
    <a class="navbar-brand mb-3" href="">IdbBlazor Sample</a>
    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link text-white" href="products">Products</NavLink>
    <NavLink class="nav-link text-white" href="blog">Blog Posts</NavLink>
</nav>
